<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="current-dategory"><%= params[:category] %></h1>
    <% if @plays.count == 0 %>
      <h3>There are no plays in this category</h3>
    <% else %>
      <div class="row">
        <% @plays.each do |play| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <%= link_to (image_tag play.play_img.url(:play_index), class:'play'), play_path(play) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>